{{#partial "content"}}
    <body>
    <h2>News Details</h2>

    <p>title:{{title}}</p>
    <p>content:{{content}}</p>

    </body>
{{/partial}}
<style>
    body{
    background-image:url('https://image.shutterstock.com/image-photo/spring-blossom-over-wood-background-260nw-196722200.jpg');
       background-repeat:no-repeat;
    background-size:cover;
    text-align:center;
    margin-top:300px;
    font-size:100px;
    }

</style>
{{> layout.hbs}}
