{{#partial "content"}}
    <body>
    <h2>User Details</h2>

    <p>employee_name:{{employee_name}}</p>
    <p>position:{{position}}</p>
    <p>role:{{role}}</p>
    </body>
{{/partial}}
<style>
    body{
    background-image:url('https://cms-assets.tutsplus.com/uploads/users/1500/posts/31260/image/summer_nature_background_with_green_grass_and_butterfly_and_blue_sky.jpg');
       background-repeat:no-repeat;
    background-size:cover;
       font-size:70px;
    margin-left:300px;
    margin-top:50px;
    }

</style>
{{> layout.hbs}}